*{
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

header {
 display: block;
}
    
body {
 background-color: rgb(234, 159, 66);
}

ul {
 display: block;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 40px;
}

li {
 display: inline;
 margin: auto 10px;
 font-size: 150%;
}

button {
 color: rgb(234, 159, 66);
 border-color: rgb(234, 159, 66);
 font-size: 80%;
 width: 150px;
}

button:hover {
 color: white;
 background-color: rgb(234, 159, 66);
}

button:active {
 font-size: 70%;
 box-shadow: 0 0 10px #000 inset;
}

button:focus {
 outline: none;
 border-color: black;
 color: black;
}

img {  
 max-width: 10%; 
 height: auto;  
}  

.header {
 color: rgb(239, 238, 244);
 background-color: rgb(18, 119, 219);
}
   
.header h1{
 display: inline-block;
 margin-left: 5%;
 font-size: 48px;
}

.header nav {
 padding-top: 15px;
 margin-right: 20px;
 float: right;
 font-size: 20px;
}

.header nav ul {
 list-style-type: none;
}

h1 {
 margin-block-start: 0.67em;
 margin-block-end: 0.67em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-weight: bold;
}