*{
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

header {
 display: block;
}

header img {
 padding-top: 2px;
 padding-left: 2px;
 padding-right: 10px;
 margin-top: 15px;
 margin-left: 10px;
 width: 3%; 
 height: auto;
}

body {
 background-color: rgb(234, 159, 66);
}

p {
    font-size: larger;
}

main {
 margin: 100px;
}

ul {
 display: flex;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 40px;
}

li {
 display: flex;
 margin: auto 10px;
 font-size: 150%;
}

button {
 color: rgb(234, 159, 66);
 border-color: rgb(234, 159, 66);
 font-size: 80%;
 width: 150px;
 cursor: pointer;
}

button:hover {
 color: white;
 background-color: rgb(234, 159, 66);
}

button:active {
 font-size: 70%;
 box-shadow: 0 0 10px #000 inset;
}

button:focus {
 outline: none;
 border-color: black;
 color: black;
}

.header {
 color: rgb(239, 238, 244);
 background-color: rgb(18, 119, 219);
}
   
.header h1{
 display: flex;
 flex-wrap: wrap;
 font-size: 48px;
}

.header nav {
 display: flex;
 padding-top: 15px;
 margin-right: 20px;
 float: right;
 font-size: 20px;
}

.header nav ul {
 list-style-type: none;
}

h1 {
 margin: 5px;
 padding: 5px;
 font-weight: bold;
}

.content {
    width: 100%;
    display: flex;
}

.about {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    background-color: rgb(18, 119, 219);
    color: rgb(239, 238, 244);
}

.mainBody {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    background-color: rgb(18, 119, 219);
    color: rgb(239, 238, 244);
}

.work {

    margin-bottom: 20px;
    padding: 50px;
    height: 700px;
    background-color: rgb(18, 119, 219);
    color: rgb(239, 238, 244);
}

.contact {
    margin-bottom: 20px;
    padding: 60px;
    height: 200px;
    background-color: rgb(18, 119, 219);
    color: rgb(239, 238, 244);
}

.contact ul li {
    display: flex;
    flex-wrap: wrap;
}

.mainBody img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.work img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

footer p {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

@media screen and (max-width: 992px) {
    p {
      flex-direction: column;
    }
}